/* --- Base Button Styles --- */
.btn-primary {
  color: #ffffff !important;
  &:hover {
    border: 2px solid #0d6efd;
    color: #0d6efd !important;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
  }
}

.btn-secondary:hover {
  border: 1px solid #8b8c89;
  color: #8b8c89;
  background-color: rgba(255, 255, 255, 0);
}

.btn-success:hover {
  border: 1px solid #198754;
  color: #198754;
  background-color: rgba(255, 255, 255, 0);
}

.btn-outline-secondary {
  background-color: #ffffff;
  &:hover {
    border: 1px solid #0d6efd;
    color: #0d6efd;
    background-color: #ffffff;
  }
}

/* --- Specific Button Components --- */
.logout-btn {
  padding: 5px;
  background-color: #66bb32;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
}

.round-button {
  border-radius: 100%;
}

/* --- Button Groups & Tabs --- */
.btn-group-size {
  width: 80%;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: auto;
}

.custome-tab button.btn.btn-primary {
  border: 2px solid #0d6efd !important;
  color: #0d6efd !important;
  background-color: rgba(255, 255, 255, 0) !important;
  font-weight: bold !important;
  &:hover {
    text-decoration: underline;
  }
  &.active {
    color: #f3f1f1 !important;
    background-color: #0d6efd !important;
  }
}

button.btn.btn-primary:hover {
  color: #0d6efd !important;
}

button.btn-link {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
