/* --- Default Dropdown Menu --- */
.dropdown-menu {
  display: block;
  min-width: 100px;
  padding: 0.5rem;
}

.dropdown-item {
  cursor: pointer;
  padding: 0.25rem 1rem;
}

.dropdown-toggle {
  color: #cf0f0f;
}

/* --- Custom Input with Dropdown --- */
.relative-wrapper {
  position: relative;
  width: -webkit-fill-available;
}

.div-for-InputDropdown ul {
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  width: -webkit-fill-available;
  margin-left: -32px; /* To align with input */
  z-index: 5; /* Ensure it's above other elements */
  li {
    border: 1px solid #cfcfcf;
    padding: 3px;
    background-color: #fff;
    &:hover {
      background-color: #384fb9;
      color: #fff;
    }
  }
}

.custom-dropdown {
  padding-right: 30px; /* เพิ่มพื้นที่ด้านขวาเพื่อใส่ลูกศร */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 8"%3E%3Cpath fill="none" stroke="black" stroke-width="1" d="M1 1l5 5 5-5" /%3E%3C/svg%3E'); /* สัญลักษณ์ลูกศร */
  background-repeat: no-repeat;
  background-position: right 10px center; /* กำหนดตำแหน่งของลูกศร */
  background-size: 12px; /* ขนาดของลูกศร */
}
