.icon-edit {
  background-image: url("../edit.svg");
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.icon-edit:hover {
  background-image: url("../edit-hover.svg");
}

.icon-delete {
  background-image: url("../delete.svg");
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.icon-delete:hover {
  background-image: url("../delete-hover.svg");
}

.icon-preview {
  background-image: url("../preview.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-preview:hover {
  background-image: url("../preview-hover.svg");
}

.icon-download {
  background-image: url("../download.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-download:hover {
  background-image: url("../download-hover.svg");
}

.icon-search {
  background-image: url("../search.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.icon-sort {
  background-image: url("../sort.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_language_dark {
  background-image: url("../language_dark.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_language {
  background-image: url("../language.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_product_access {
  background-image: url("../icon_product.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_product_stock_access {
  background-image: url("../icon_product_stock.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_quotation_access {
  background-image: url("../icon_quotation.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_sale_report_access {
  background-image: url("../icon_sale_report.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  cursor: pointer;
}

span.mdi.mdi-check-circle-outline {
  display: none !important;
}

.show-only-desktop span.mdi.mdi-check-circle-outline {
  display: block !important;
}

.mdi-check-circle-outline {
  font-size: 20px;
  margin-right: 10px !important;
  cursor: pointer;
  margin-top: -2px;
}

.icon-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
