.navtop {
  background-color: #ffffff;
  padding: 0.5rem;
  display: flex;
  height: 6.5vh;
  box-shadow: 2px 2px 4px #cfcfcf;
  justify-content: space-between;
  z-index: 2;
  flex-wrap: nowrap;
}

.logowithname-top {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-start !important;
}

.logowithname-top .navbar-brand {
  padding-left: 20px;
}

.logo-on-top {
  height: 6vh;
  width: auto;
}

.user-profile-button {
  cursor: pointer;
  align-items: center;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background-color: #ffffff;
}

.user-profile-button img {
  margin-top: -5px;
}

.user-profile-button a {
  white-space: nowrap;
}

/* Hamburger icon for mobile */
.show-moblie {
  cursor: pointer;
  display: none;
}

.dropdown-content {
  display: block;
  position: fixed;
  width: 200px;
  background-color: #ffffff;
  right: 1rem;
  border: 1px solid #cfcfcf;
  z-index: 10;
  margin-top: 60px;
}

.expanded-content p {
  padding: 5px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.expanded-content p:hover {
  background-color: #0d6efd;
  color: #ffffff;
}

.sidebar {
  overflow: auto;
  position: fixed;
  width: 220px;
  left: 0px;
  z-index: 1;
  box-shadow: 2px 2px 4px #cfcfcf;
  height: 100vh;
  align-content: flex-start;
  background-color: #ffffff !important;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar a,
.sub-sidebar a {
  display: flex;
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-expanded {
  justify-content: space-between;
}

.sub-sidebar {
  width: 200px;
  padding-left: 20px;
  overflow-y: auto;
  max-height: 200px;
}

.bi {
  /* Plus/Minus Icon */
  font-size: 1.5rem;
  position: absolute;
  display: flex;
  left: 160px;
}

.popup-success,
.popup-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out;
  z-index: 10;
}

.popup-error2 {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #fbe4e4;
  border: 1px solid #fbe4e4;
  border-radius: 8px;
  padding: 16px 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  min-width: 280px;
}

.popup-content-success {
  background: #b7ecb1;
  color: #137109;
  padding: 10px;
  border: 1px solid #137109;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-y: auto;
  align-self: flex-start;
  top: calc(50px + 15px);
  animation: slideIn 0.5s ease-in-out;
}

.popup-content-error {
  background: #fe9393;
  color: #cf0f0f;
  padding: 10px;
  border: 1px solid #cf0f0f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-y: auto;
  align-self: flex-start;
  top: calc(50px + 15px);
  animation: slideIn 0.5s ease-in-out;
}

.popup-content-error2 {
  position: relative;
  color: #b60000;
  font-size: 14px;
}

.div-for-formProfile {
  display: flex;
}

.div-for-formProfile label,
.div-for-formProfile a,
.div-for-formProfile input {
  flex: 1;
}

.delete-popup .popup-content {
  height: 200px;
  overflow: hidden;
}

.modal-footer {
  padding-top: 60px !important;
}

.active {
  font-weight: bold;
}

.error {
  border: 1px solid rgba(255, 0, 0, 0.5) !important;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}

.form-control {
  border: 1px solid #cfcfcf !important;
}

.btn-primary {
  color: #ffffff !important;
}

.btn-primary:hover {
  border: 1px solid #0d6efd;
  color: #0d6efd !important;
  background-color: rgba(255, 255, 255, 0);
}

.btn-secondary:hover {
  border: 1px solid #8b8c89;
  color: #8b8c89;
  background-color: rgba(255, 255, 255, 0);
}

.icon-edit {
  background-image: url("./assets/edit.svg");
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.icon-edit:hover {
  background-image: url("./assets/edit-hover.svg");
}

span.mdi.mdi-check-circle-outline {
  display: none !important;
}

.show-only-desktop span.mdi.mdi-check-circle-outline {
  display: block !important;
}

.mdi-check-circle-outline {
  font-size: 20px;
  margin-right: 10px !important;
  cursor: pointer;
  margin-top: -2px;
}

/* --- Desktop (992px ขึ้นไป) --- */
@media only screen and (min-width: 992px) {
  nav.navbar.bg-light.sidebar {
    display: block !important;
    transform: translateX(0); /* Make sidebar visible on desktop */
  }
}

/* --- Tablet and smaller (ต่ำกว่า 992px) --- */
@media only screen and (max-width: 992px) {
  .show-moblie {
    display: block !important;
  }

  .page-body {
    padding: 50px !important;
  }
}

/* --- Mobile (ต่ำกว่า 768px) --- */
@media (max-width: 767px) {
  .logo-on-top {
    max-height: 20px;
    object-fit: contain;
  }

  .dropdown-content {
    margin-top: 0px !important;
  }

  a.navbar-brand {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .page-body {
    padding: 10px !important;
    margin-top: 47px !important;
  }

  .popup-content {
    padding: 50px 8px 8px 8px;
  }
}
