/* --- Base Table Styles --- */
.table {
  border: 1px solid #cfcfcf;
}

th {
  min-width: 200px;
  cursor: pointer;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}

thead {
  text-align: center;
}

.button-table,
.image-table {
  text-align: -webkit-center;
}

/* --- Table Containers & Forms --- */
.table-form {
  border-radius: 4px;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid #cfcfcf;
}

.table-contain {
  height: auto;
  overflow-x: auto;
}

.table-in-popup .table-contain {
  height: 350px;
}

.top-table-for-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 767px) {
    display: block !important;
  }
}

/* --- Pagination --- */
.pagination .page-link {
  border: 1px solid #cfcfcf;
}

.active > .page-link,
.page-link.active {
  z-index: auto;
}

/* --- Text Color Utilities for Tables --- */
td[color_code="L"] {
  color: red;
}
.orange-text {
  color: orange;
}
.green-text {
  color: green;
}
.red-text {
  color: rgb(255, 0, 0);
}
